body{
    background: lightblue;
    font-family: sans-serif;
}
.mx-auto{
    margin: auto;
}
.row{
    display: flex;
}

.form-content{
    background: white;
    width: 80%;
    /* padding-bottom: 2% */
    height: auto;
    margin-top: 4%;
}
.bg-image{
    /* height: 560px; */
    height: auto;
    width: 40%;
    background: linear-gradient(rgba(0, 0, 0, 0.288), black), url('photo-1521225099409-8e1efc95321d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.input{
    padding:11px;
    border:1px solid gray;
    border-radius: 3px;
}

.input-content{
    /* margin:10px; */
    padding: 20px;
}
h1{
    font-size: 38px;
}
h4{
    margin: 0;
}
.submit-btn{
    padding: 15px;
    width: 50%;
    background: rgb(123, 3, 235);
    border: none;
    margin-top: 5%;
}
.text-center{
    text-align: center;
}
.form{
    width: 60%;
    padding-bottom: 20px;
}
form{
    margin: 0 10%;

    color: gray;
}

@media screen and (max-width:700px){
    .row{
        display:block;
    }
    .form{
        width: 90%;
    }
    .bg-image{
        /* display: none; */
        height: 40px;
        background: black;
        width: 100%;
        background-size: 100%;
    }
}